.container {
  line-height: initial;
  margin-bottom: 5px;
  border: 1px solid rgb(0 0 0 / 6%);
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
  font-weight: 400;
  margin: 0 auto;
  font: inherit;
  font-size: 100%;
  background-color: #f9f;
}

.current-header {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 10px;
}

.detailed-weather {
  display: flex;
  margin-bottom: -5px;
}

.weather-temperature .active {
  color: #222;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast-icon {
  width: 60px;
  height: 60px;
  margin: 0;
  text-align: center;
}

.current-temp-label {
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
  position: relative;
  left: 5px;
  text-align: center;
}

.weather-card-0 {
  margin-left: -5;
  text-align: center;
  min-height: 145px;
}

.current-wind {
  transform: uppercase;
}

.current-city {
  font-size: 35px;
}

.credits {
  font-weight: 700;
  font-size: 12px;
  padding-left: 5px;
}

.credit-name {
  font-weight: 600;
  color: rgb(177, 82, 27);
}

.search-bar {
  padding-top: 10px;
}

.weather-condition {
  padding: 10px 0 10px;
  text-align: center;
}

div {
  display: block;
}

body {
  color: #222;
  width: 600px;
  padding: 20px 130px;
}
